.homeHeader {
    background-color: green;
    display: flex;
    justify-content: center;
    height: 60px;
}

.headerTitle {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.homeButton { 
    margin-right: auto;
    height: 60px;
    background-color: #008CBA;
    width: 80px;
    font-size: 20px;
}

.sessionInfo {
    padding: 2px;
    font-size: 13px;
}

.info {
    display: block;
}

.appName {
    font: italic  30px/30px Georgia, serif;
}

.appDesc {
    font: italic 30px/30px Georgia, serif;
}