#homeHeader {
    background-color: green;
    height: 70px;
    display: flex;
    justify-content: center;
}

#headerTitle {
    display: flex;
    align-items: center;
    justify-content: center;
}

#appName {
    font: italic  30px/30px Georgia, serif;
}

#appDesc {
    font: italic 30px/30px Georgia, serif;
}