.joinSession {
    padding: 20px;
    height: 200px;
}

.join-session-inputs > input {
    height: 30px;
    width: 200px;
    padding: 10px;
    text-align: center;
    margin-top: 50px;
    margin-left: 20px;
}

.sessionId-input {
    width: 400px !important;
}

.join-session-button {
    margin-top: 20px;
    width: 120px;
    border-radius: 20px;
    height: 25px;
}
