.SingleMessageComponent {
    padding: 4px;
}

.text-area {
    max-width: 1000px;
}

.sender-time {
    color: aqua;
}

.sender {
    font-size: 15px;
}

.time {
    font-size: 12px;
    font-style: italic;
}

.user-message {
    color: red;
}