.startSession {
    padding: 20px;
    height: 200px;
}

.username {
    height: 30px;
    width: 200px;
    padding: 10px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    
}

.start-session-button {
    width: 120px;
    border-radius: 20px;
    height: 25px;
}